
.card {
    flex-wrap: wrap;
   
}
.cards {
    width: 30%;
}

.project-title {
    font-size: 40px;
    font-family: "Dosis",  Raleway, san-serif;
    color: white;  
}

.project-para {
    font-size: 40px;
    font-family: "Dosis",  Raleway, san-serif;
    color: white;
}